.home-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  color: #112b3c;
}

.left-side h1,
.right-side h1 {
  text-align: center;
}

.search-area {
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
}

.search-btn {
  border-radius: 10px;
  padding: 0 1.5rem;
  cursor: pointer;
  background-color: #112b3c;
  color: #fff;
  letter-spacing: 1px;
  border: none;
}
